<template name="business_drivers">
	<div class="container">
		<div class="page-header">
			<h1>
				Your Drivers
			</h1>
		</div>
		{{> alert}}
		<div class="insert_form">
			{{> quickForm collection="DriverInvites" id="insertDriverInvitationForm" type="insert" fields="phone" template="bootstrap3-inline" buttonContent="Invite Driver"}}
		</div>

		<h2>Invitations</h2>
		{{> tabular table=TabularTables.BusinessDriverInvites class="table table-striped table-bordered table-condensed"}}

		<h2>Drivers</h2>
		{{> tabular table=TabularTables.BusinessDrivers class="table table-striped table-bordered table-condensed"}}
	</div>
</template>
