<template name="footer">
	<footer>
		<div class="container">
			<div class="row text-center">
				<a href="/privacy-policy">
					privacy-policy
				</a>
				<span> | </span>
				<a href="/terms-of-use">
					terms-of-use
				</a>
				<span> | </span>
				<a href="/partner-signup">
					become partner
				</a>
				<span> | </span>
				<a href="/vip-signup">
					vip access
				</a>
				<span> | </span>
				<a href="/contact">
					contact us
				</a>
			</div>
			<div class="row"><br/></div>
			<div class="row">
				<div class="col-md-12 text-center">
					{{{Config.footer}}}
				</div>
			</div>
		</div>
	</footer>
</template>